*{
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
}
#top{
    width: 1300px;
    height: 50px;
    border: 1px solid #ffffff ;
    background-color: black;
    color: #B2B2B2;
    padding-left: 170px;
}
#top p{
    margin-top: 20px;
}
#top1{
    margin-left: 750px;
    margin-top: -20px;
}
#top1 button{
background-color: black;
color: #B2B2B2;
border: none;
padding-left: 40px;
}
#top1 button:hover{
    color: #717FE0;
}
#navbar{
    height: 70px;
    background-color: #Fbfbfb;
    position: sticky;
    top: 0;
    z-index: +5;
}
#navbar p{
    height: 12px;
    width: 25px;
    text-align: center;
    border-radius: 5px;
    background-color: #f74877;
    color: white;
    font-size: 10px;
    margin-left: 550px;
}
#navbar img{
    margin-left: 170px;
    margin-top: 10px;
}
#functions{
    margin-left: 370px;
    margin-top: -21px;  
}
#aa{
    padding-left: 20px;
    text-decoration: none;
    color: #222222;
}
#icons{
    margin-left: 830px;
    margin-top: -18px;
}
#ic{
    padding-right: 20px;
}
sup{
    color: #717FE0;
}
#aa:hover{
    color: #717FE0;
}
#aa:active{
    color: #717FE0;
}

#ic:hover{
    color: #717FE0;
}
#ic:active{
    color: #717FE0;
}
#container{
    height: auto;
    background-color: rgb(247, 246, 246);
}










#footer{
    height: 460px;
    background-color: #222222;
    margin-top: 150px;
}
#cat{
    padding-top:80px;
    margin-left: 170px;
}
#cat h2{
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 16px;
}   
#cat a{
    color: #B2B2B2;
    padding-bottom: 20px;
    line-height: 30px;
}
#cat1{
    margin-left: 470px;
    margin-top: -170px;
}
#cat1 h2{
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 16px;
}
#cat1 a{
    color: #B2B2B2;
    padding-bottom: 20px;
    line-height: 30px;
}
#cat a:hover{
    color: #717FE0;
}
#cat1 a:hover{
    color: #717FE0;
}
#cat2{
    margin-left: 770px;
    margin-top: -170px;
}
#cat2 h2{
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 16px;
}
#cat2 p{
    color: #B2B2B2;
    padding-bottom: 20px;
    line-height: 30px;
}
#cat2 i{
    color: #B2B2B2;
    padding-right: 20px;
}
#cat2 i:hover{
    color: #717FE0;
}
#cat3{
    margin-left: 1100px;
    margin-top: -180px;
}
#cat3 h2{
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 16px;
}
#cat3 input{
    width: 250px;
    background-color: transparent;
    border-right: none;
}
#cat3 button{
    width: 179px;
    height: 46px;
    border-radius: 50px;
    color: #fafafa;
    font-size: 16px;
    border: none;
    background-color: #717FE0;
    border: 1px solid #555555;
    margin-top: 20px;
}
#cat3 button:hover{
    background-color: #fafafa;
    color: #666565;
}
#cat4{
    margin-left: 600px;
    margin-top: 150px;
}
#fix{
    color: #888888;
    text-align: center;
    margin-top: 10px;
}
#fix a{
    text-decoration: none;
    color: #717FE0;
}